<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>Chamenos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_in</display-name>
    <servlet-name>Log_in</servlet-name>
    <servlet-class>Log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_in</servlet-name>
    <url-pattern>/Log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLog</display-name>
    <servlet-name>AdminLog</servlet-name>
    <servlet-class>com.admin.AdminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLog</servlet-name>
    <url-pattern>/AdminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOut</display-name>
    <servlet-name>AdminOut</servlet-name>
    <servlet-class>com.admin.AdminOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOut</servlet-name>
    <url-pattern>/AdminOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotePoll1</display-name>
    <servlet-name>VotePoll1</servlet-name>
    <servlet-class>VotePoll1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotePoll1</servlet-name>
    <url-pattern>/VotePoll1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Political</display-name>
    <servlet-name>Political</servlet-name>
    <servlet-class>Political</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Political</servlet-name>
    <url-pattern>/Political</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pop</display-name>
    <servlet-name>Pop</servlet-name>
    <servlet-class>Pop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pop</servlet-name>
    <url-pattern>/Pop</url-pattern>
  </servlet-mapping>
</web-app>